<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <ul>
        <li v-for="(cor, i) in cores">{{ cor }} - {{ i }}</li>
    </ul>
    <hr>
    <template v-for="(cor, i) in cores">
        <h1>{{ cor }}</h1>
        <p>{{ i }}</p>
    </template>
    <hr>
    <ul>
        <li v-for="pessoa in pessoas">
            {{ pessoa.nome }}
            <span v-for="(valor,chave, index) in pessoa">
                {{ chave }} = {{ valor }} with index {{ index }}
            </span>
        </li>
    </ul>
    <hr>
    <span v-for="n in 10">{{ n }}</span>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                { nome: 'Ana', idade: 26, peso: 59},
                { nome: 'Guilherme', idade: 22, peso: 89}
            ]
        }
    })
</script>

<style>
    h1, ul {
        list-style: none;
    }
</style>